<%= job.hidden_field :employer_id, :value => params[:employer_id] %>

<div class="row">
  <div class="small-6 columns end">
    <label>Position
      <%= job.text_field(:position) %>
    </label>
  </div>
</div>

<div class="row">
  <div class="small-8 columns">
    <label>Description of Position and Duties
      <%= job.text_area(:description, :rows => 8) %>
    </label>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <label>Salary
      <%= job.text_field(:salary) %>
    </label>
  </div>
  <div class="small-4 columns end">
    <label>Hours
      <%= job.text_field(:hours) %>
    </label>
  </div>
</div>
