<%= job.hidden_field(:employer_id, :value => params[:employer_id]) %>

<div class="row">
  <div class="small-6 small-offset-2 columns end">
    <label>Position
      <%= job.text_field(:position) %>
    </label>
  </div>
</div>

<div class="row">
  <div class="small-8 small-offset-2 columns end">
    <label>Description of Position and Duties
      <%= job.text_area(:description, :rows => 8) %>
    </label>
  </div>
</div>

<div class="row">
  <div class="small-4 small-offset-2 columns">
    <label>Salary
      <%= job.text_field(:salary) %>
    </label>
  </div>
  <div class="small-4 columns end">
    <label>Hours
      <%= job.text_field(:hours) %>
    </label>
  </div>
</div>

<div class="row">
  <div class="small-6 small-offset-3 column">
    <label>Please select the time of day that best represents when you would need the employee to work:</label>
    <table>
      <tr>
        <td><%= job.label 'Morning' %></td>
        <td><%= job.radio_button :morning, true %></td>
      </tr>
      <tr>
        <td><%= job.label 'Afternonn' %></td>
        <td><%= job.radio_button :afternoon, true %></td>
      </tr>
      <tr>
        <td><%= job.label 'Evening' %></td>
        <td><%= job.radio_button :evening, true %></td>
      </tr>
      <tr>
        <td><%= job.label 'Night' %></td>
        <td><%= job.radio_button :night, true %></td>
      </tr>
    </table>
  </div>
</div>
