
  <div class="column small-8">
    <label class="bold">Job Position</label>
      <p><%= job.position %></p>
  </div>

  <div class="column small-4">
    <label class="bold">Company</label>
      <p><%= job.employer.company_name %></p>
  </div>

  <div class="column small-12">
    <label class="bold">Description</label>
      <p><%= job.description %></p>
  </div>

  <div class="column small-8">
    <label class="bold">Hours</label>
      <p><%= job.hours %></p>
  </div>

  <div class="column small-4">
    <label class="bold">Salary</label>
      <p><%= job.salary %></p>
  </div>
