<div class="column small-8">
  <label class="black-text" ><strong>Job Position</strong></label>
    <p><%= job.position %></p>
</div>

<div class="column small-4">
  <label class="black-text"><strong>Company</strong></label>
    <p><%= job.employer.company_name %></p>
</div>

<div class="column small-12">
  <label class="black-text"><strong>Description</strong></label>
    <p><%= job.description %></p>
</div>

<div class="column small-8">
  <label class="black-text"><strong>Hours</strong></label>
    <p><%= job.hours %></p>
</div>

<div class="column small-4">
  <label class="black-text"><strong>Salary</strong></label>
    <p><%= job.salary %></p>
</div>
