<div class="row content-expand job-board standard-background">
  <div class="column medium-12">
    <div class="index-search-bar">
      <ul class="menu search-menu">
        <li>
          <%= button_to("search", "", :class=>"button button_spacing search-button") %>
        </li>
        <li>
          <%= text_field_tag "placeholder", nil, :class=>"search-field" %>
        </li>
        <li>
          <%= button_to("filter", "", :class=>"button button_spacing search-button") %>
        </li>
      </ul>
    </div>  

    <% @jobs.each do |job| %>
      <div class="row column" style="text-align: center;">
        <div class="row job orange-row box-shadow">
          <div class="column small-3 pic-col">
            <img src="http://placehold.it/250x250">
             <!-- render(:partial => 'view', :locals => {:job => job}) %> -->
           </div>

            <div class="column small-3 title-col">
              <h3>Job</h3>
              <p>
                <%= link_to(job.employer.company_name, employer_path(job.employer_id)) %>
              </p>
            </div>

            <div class="column small-3 aag-col">
              <h3>at a glance:</h3>
              <p>
                <%= job.position %>
              </p>
              <p>
                <%= job.description %>
              </p>
            </div>

            <div class="column small-3 match-col">
              <h3>match</h3>
              <img src="http://placehold.it/350x200">
            </div>
          </div>

          <div class="hover-box">
            <p>Click for more job information</p>
          </div>

          <div class="information">
            <%= render(:partial => 'show', :locals => {:job => job}) %>
          </div>
        </div>
      <% end %>

    </div>
</div>
