<!-- First and last name  -->
<div class="row" id="user-signup-steps">
  <ul id="progressbar">
    <li class="active">Step 1</li>
    <li class="active">Step 2</li>
    <li class="active">Step 3</li>
  </ul>

  <fieldset classx="step">
    <label>First Name
      <%= user.text_field(:first_name, :placeholder => "Limit 50 Characters") %>
    </label>

    <label>Last Name
      <%= user.text_field(:last_name, :placeholder => "Limit 50 Characters") %>
    </label>

    <!-- username and password  -->
    <label>User Name
      <%= user.text_field(:username, :placeholder => "Limit 50 Characters") %>
    </label>


    <label>Password
      <%= user.password_field(:password) %>
    </label>

    <!-- Email field and admin -->

    <label>Email
      <%= user.text_field(:email) %>
    </label>
    <!-- next button -->
    <%= button_to("Next", :name => "next", :class => "next action-button") %>
  </fieldset>

  <fieldset class="step">
    <!-- About field  -->
    <label>About Me
      <%= user.text_area(:about, :placeholder => "limit 2500 characters", :rows => 8) %>
    </label>

    <!-- Story field  -->
    <label>My Story
      <%= user.text_area(:story, :placeholder => "limit 2500 characters", :rows => 8) %>
    </label>
    <!-- next button -->
    <%= button_to("Next", :name => "next", :class => "next action-button") %>
    <!-- previous button -->
    <%= button_to("Previous", :name => "previous", :class => "previous action-button") %>
  </fieldset>

  <fieldset class="step">
    <!-- School name -->

    <label>School
      <%= user.text_field(:school) %>
    </label>
    <!-- Major, term, and grad date -->

    <label>Major
      <%= user.text_field(:major) %>
    </label>

    <label>Current Term
      <%= user.text_field(:current_term) %>
    </label>

    <label>Expected Graduation Date
      <%= user.date_field(:graduation_date) %>
    </label>
    <!-- next button -->
    <%= button_to("Next", :name => "next", :class => "next action-button") %>
    <!-- previous button -->
    <%= button_to("Previous", :name => "previous", :class => "previous action-button") %>
  </fieldset>

  <fieldset class="step">
    <label>User Image
      <%= user.file_field(:avatar) %>
    </label>

    <label>User Resume
      <%= user.file_field(:document) %>
    </label>
    <!-- next button -->
    <%= user.submit("Create Account", :class => "action-button submit button") %>
    <!-- previous button -->
    <%= button_to("Previous", :name => "previous", :class => "previous action-button") %>
  </fieldset>
</div>
