<!-- First and last name  -->
<div class="row">
  <div class="small-4 columns">
    <label>First Name
      <%= user.text_field(:first_name, :placeholder => "Limit 50 Characters") %>
    </label>
  </div>
  <div class="small-4 columns end">
    <label>Last Name
      <%= user.text_field(:last_name, :placeholder => "Limit 50 Characters") %>
    </label>
  </div>
</div>
<!-- username and password  -->
<div class="row">
  <div class="small-4 columns">
    <label>User Name
      <%= user.text_field(:username, :placeholder => "Limit 50 Characters") %>
    </label>
  </div>
  <div class="small-4 columns end">
    <label>Password
      <%= user.password_field(:password) %>
    </label>
  </div>
</div>
<!-- Email field and admin -->
<div class="row">
  <div class="small-4 columns">
    <label>Email
      <%= user.text_field(:email) %>
    </label>
  </div>
  <div class="small-4 columns end">
    <p>Admin</p>
    <div class="switch">
        <%= user.check_box(:admin, :class => "switch-input", :id => "admin") %>
        <label class="switch-paddle" for="admin">
          <span class="show-for-sr">Do you like me?</span>
          <span class="switch-active" aria-hidden="true">Yes</span>
          <span class="switch-inactive" aria-hidden="true">No</span>
        </label>
      </div>
  </div>
</div>
<!-- About field  -->
<div class="row">
  <div class="small-8 columns end">
    <label>About Me
      <%= user.text_area(:about, :placeholder => "limit 2500 characters", :rows => 8) %>
    </label>
  </div>
</div>
<!-- Story field  -->
<div class="row">
  <div class="small-8 columns end">
    <label>My Story
      <%= user.text_area(:story, :placeholder => "limit 2500 characters", :rows => 8) %>
    </label>
  </div>
</div>
<!-- School name -->
<div class="row">
  <div class="small-4 columns end">
    <label>School
      <%= user.text_field(:school) %>
    </label>
  </div>
</div>
<!-- Major, term, and grad date -->
<div class="row">
  <div class="small-4 columns">
    <label>Major
      <%= user.text_field(:major) %>
    </label>
  </div>
  <div class="small-2 columns">
    <label>Current Term
      <%= user.text_field(:current_term) %>
    </label>
  </div>
  <div class="small-2 columns end">
    <label>Expected Graduation Date
      <%= user.date_field(:graduation_date) %>
    </label>
  </div>
</div>
