<!-- First and last name  -->
<fieldset class="step">
  <div class="row add-vertical-margin" id="user-signup-steps">
    <h3>General Information</h3>
    <div class="column small-6">
      <label>First Name
        <%= user.text_field(:first_name, :placeholder => "Limit 50 Characters") %>
      </label>
    </div>

    <div class="column small-6">
      <label>Last Name
        <%= user.text_field(:last_name, :placeholder => "Limit 50 Characters") %>
      </label>
    </div>
  </div>

  <div class="row add-vertical-margin">
    <div class="column small-4">
      <!-- username and password  -->
      <label>User Name
        <%= user.text_field(:username, :placeholder => "Limit 50 Characters") %>
      </label>
    </div>
    <div class="column small-4">
      <label>Password
        <%= user.password_field(:password) %>
      </label>
    </div>
    <div class="column small-4">
      <!-- Email field and admin -->
      <label>Email
        <%= user.text_field(:email) %>
      </label>
    </div>
  </div>
</fieldset>

<fieldset class="step">
  <div class="row add-vertical-margin">
    <h3>Tell Us About Yourself</h3>
    <!-- About field  -->
    <label>About Me
      <%= user.text_area(:about, :placeholder => "limit 2500 characters", :rows => 8) %>
    </label>

    <!-- Story field  -->
    <label>My Story
      <%= user.text_area(:story, :placeholder => "limit 2500 characters", :rows => 8) %>
    </label>
  </div>
</fieldset>


  <!-- School name -->
  <fieldset class="step">
    <h3>Education</h3>
    <%= user.nested_fields_for :user_history_of_educations, UserHistoryOfEducation.new do |edu| %>
      <div class="row add-vertical-margin">
        <div class="column small-3">
          <label>School name
            <%= edu.text_field(:school) %>
          </label>
        </div>
        <div class="column small-3">
          <label>Major
            <%= edu.text_field(:major) %>
          </label>
        </div>
        <div class="column small-3">
          <label>GPA
            <%= edu.text_field(:gpa) %>
          </label>
        </div>
        <div class="column small-3">
          <label>Graduation Date
            <%= edu.date_field(:graduation_date) %>
          </label>
        </div>
      </div>
      <%= fa_icon "minus-circle", class: "" %>
      <%= edu.remove_nested_fields_link "Remove School" %>

    <% end %>
  </fieldset>
  <!-- this is the "add another education" link -->
  <%= fa_icon "plus-circle", class: "" %>
  <%= user.add_nested_fields_link :user_history_of_educations, "Add Another School" %>


  <fieldset class="step">
    <h3 class="add-vertical-margin">Media</h3>
    <div class="row red-row column small-12 add-vertical-margin box-shadow">
      <label>User Image
        <%= user.file_field(:avatar) %>
      </label>
    </div>

    <div class="row red-row column small-12 add-vertical-margin box-shadow">
      <label>User Resume
        <%= user.file_field(:document) %>
      </label>
    </div>
</fieldset>
