<!-- First and last name  -->
<fieldset class="step">
  <div class="row add-vertical-margin" id="user-signup-steps">
    <h3>General Information</h3>
    <div class="column small-6">
      <label>First Name
        <%= user.text_field(:first_name, :placeholder => "Limit 50 Characters") %>
      </label>
    </div>

    <div class="column small-6">
      <label>Last Name
        <%= user.text_field(:last_name, :placeholder => "Limit 50 Characters") %>
      </label>
    </div>
  </div>

  <div class="row add-vertical-margin">
    <div class="column small-4">
      <!-- username and password  -->
      <label>User Name
        <%= user.text_field(:username, :placeholder => "Limit 50 Characters") %>
      </label>
    </div>
    <div class="column small-4">
      <label>Password
        <%= user.password_field(:password) %>
      </label>
    </div>
    <div class="column small-4">
      <!-- Email field and admin -->
      <label>Email
        <%= user.text_field(:email) %>
      </label>
    </div>
  </div>
</fieldset>

<fieldset class="step">
  <div class="row add-vertical-margin">
    <h3>Tell Us About Yourself</h3>
    <!-- About field  -->
    <label>About Me
      <%= user.text_area(:about, :placeholder => "limit 2500 characters", :rows => 8) %>
    </label>

    <!-- Story field  -->
    <label>My Story
      <%= user.text_area(:story, :placeholder => "limit 2500 characters", :rows => 8) %>
    </label>
  </div>
</fieldset>

<fieldset class="step">
  <div class="row add-vertical-margin">
    <!-- School name -->
    <%= user.fields_for :user_history_of_educations, UserHistoryOfEducation.new do |edu| %>
      <div class="column small-4">
        <label>School name
          <%= edu.text_field(:school) %>
        </label>
      </div>
      <div class="column small-4">
        <label>Major
          <%= edu.text_field(:major) %>
        </label>
      </div>
      <div class="column small-4">
        <div class="switch">
          <%= radio_button_tag "Currently Attending?", :currently_attending, :class => "switch-input" %>
            <label class="switch-paddle" for="admin">
              <span class="show-for-sr">Do you like me?</span>
              <span class="switch-active" aria-hidden="true">Yes</span>
              <span class="switch-inactive" aria-hidden="true">No</span>
            </label>
          </div>
      </div>
    <% end %>
  </div>
</fieldset>

  <fieldset class="step">
    <label>User Image
      <%= user.file_field(:avatar) %>
    </label>

    <label>User Resume
      <%= user.file_field(:document) %>
    </label>
</fieldset>
