
<div class="row">
  <h3 class="tab">Skills</h3>
  <%= fa_icon "star", class: "fa-5x user-info-icon" %>
  <div class="small-12 column red-row user-row white-text">
    <div class="row">
      <div class="columns large-4">
        <strong>Advanced Skills</strong>
        <% @skills.each do |skill| %>
          <% if !skill.advanced.blank? %>
            <div class='skill-box advanced-skill box-shadow'>
              <span class='skill-skill'><%= skill.skill %></span>
              <span class='skill-description'><%= !skill.description.blank? ? "#{skill.description}" : ""%></span>
              <span class="small-icons-right">
                <%= link_to(edit_user_skill_path(@user, skill.id)) do %>
                  <%= fa_icon 'pencil-square' %>
                <% end %>
                <%= link_to(delete_user_skill_path(@user, skill.id)) do %>
                  <%= fa_icon 'trash' %>
                <% end %>
              </span>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="columns large-4">
        <strong>Experienced Skills</strong>
        <% @skills.each do |skill| %>
          <% if !skill.experienced.blank? %>
            <div class='skill-box experienced-skill box-shadow'>
              <span class='skill-skill'><%= skill.skill %></span>
              <span class='skill-description'><%= !skill.description.blank? ? "#{skill.description}" : ""%></span>
              <span class="small-icons-right">
                <%= link_to(edit_user_skill_path(@user, skill.id)) do %>
                  <%= fa_icon 'pencil-square' %>
                <% end %>
                <%= link_to(delete_user_skill_path(@user, skill.id)) do %>
                  <%= fa_icon 'trash' %>
                <% end %>
              </span>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="columns large-4">
        <strong>Beginner Skills</strong>
        <% @skills.each do |skill| %>
          <% if !skill.beginner.blank? %>
            <div class='skill-box beginner-skill box-shadow'>
              <span class='skill-skill'><%= skill.skill %></span>
              <span class='skill-description'><%= !skill.description.blank? ? "#{skill.description}" : ""%></span>
              <span class="small-icons-right">
                <%= link_to(edit_user_skill_path(@user)) do %>
                  <%= fa_icon 'pencil-square' %>
                <% end %>
                <%= link_to(delete_user_skill_path(@user)) do %>
                  <%= fa_icon 'trash' %>
                <% end %>
              </span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class="menu">
      <li>
        <%= button_to("Add New Skills", new_user_skill_path(@user), :method => "get", :class => "button button_dropshadow") %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <h3 class="tab">Employment</h3>
  <%= fa_icon "briefcase", class: "fa-5x user-info-icon" %>
  <div class="small-12 column red-row user-row">
    <% @employment.each do |emp| %>
      <div class="row column orange-row box-shadow add-vertical-margin" >
        <div class="row white-text side-padding">
          <div class="column small-4">
            <strong>Company:</strong>
            <p><%= emp.employer %></p>
          </div>
          <div class="column small-4">
            <strong>Start date:</strong>
            <p><%= emp.start_date %></p>
          </div>
          <div class="column small-4">
            <% if !emp.current_employer? %>
              <strong>Currently employed:</strong>
              <p>yes</p>
            <% else %>
              <strong>End Date:</strong>
              <p><%= emp.end_date %></p>
            <% end %>
          </div>
        </div>
        <div class="row white-text side-padding">
          <div class="column small-4">
            <strong>Title:</strong>
            <p><%= emp.job_title %></p>
          </div>
          <div class="column small-4">
            <strong>Job Responsibilities and Duties</strong>
            <p><%= emp.job_description %></p>
          </div>
          <div class="column small-4">
            <strong>Contact Number</strong>
            <p><%= emp.contact_number %></p>
          </div>
        </div>
        <span class="small-icons-right" style="padding-right: 20px;">
          <%= link_to(edit_user_user_history_of_employment_path(@user, emp.id)) do %>
            <%= fa_icon 'pencil-square' %>
          <% end %>
          <%= link_to(delete_user_user_history_of_employment_path(@user, emp.id)) do %>
            <%= fa_icon 'trash' %>
          <% end %>
        </span>
      </div>
    <% end %>
    <%= button_to("Add Employment", new_user_user_history_of_employment_path(@user), :method => "get", :class => "button button_dropshadow") %>
  </div>
</div>

<div class="row">
  <h3 class="tab">Resume</h3>
  <%= fa_icon "file", class: "fa-5x user-info-icon" %>
  <div class="small-12 column red-row user-row white-text">
    <%= button_to("Download Resume", @user.document_url, :method => "get", :class => "button button_dropshadow add-vertical-margin") %>
    <%= form_for(@user) do |user| %>
      <span class="user-resume-edit-field add-vertical-margin">
        <%= user.file_field(:document, :accept => "application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document") %>
        <%= user.submit("Change Resume", :class => "button") %>
      </span>
    <% end %>
  </div>
</div>
