<div class="row">
  <h3 class="tab">Skills</h3>
  <%= fa_icon "star", class: "fa-5x user-info-icon" %>
  <div class="small-12 column red-row user-row">
  </div>
</div>

<div class="row">
  <h3 class="tab">Employment</h3>
  <%= fa_icon "briefcase", class: "fa-5x user-info-icon" %>
  <div class="small-12 column red-row user-row">
    <% @employment.each do |emp| %>
      <div class="row white-text">
        <div class="column small-4">
          <strong>Company:</strong>
          <p><%= emp.employer %></p>
        </div>
        <div class="column small-4">
          <strong>Start date:</strong>
          <p><%= emp.start_date %></p>
        </div>
        <div class="column small-4">
          <% if !emp.current_employer? %>
            <strong>Currently employed:</strong>
            <p>yes</p>
          <% else %>
            <strong>End Date:</strong>
            <p><%= emp.end_date %></p>
          <% end %>
        </div>
      </div>
      <div class="row white-text">
        <div class="column small-4">
          <strong>Title:</strong>
          <p><%= emp.job_title %></p>
        </div>
        <div class="column small-4">
          <strong>Job Responsibilities and Duties</strong>
          <p><%= emp.job_description %></p>
        </div>
        <div class="column small-4">
          <strong>Contact Number</strong>
          <p><%= emp.contact_number %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <h3 class="tab">Resume</h3>
  <%= fa_icon "file", class: "fa-5x user-info-icon" %>
  <div class="small-12 column red-row user-row white-text">
    <%= button_to("Download Resume", @user.document_url, :method => "get", :class => "button button_dropshadow add-vertical-margin") %>
  </div>
</div>
