<div class="row">
  <h3 class="tab">Information</h3>
  <%= fa_icon "user", class: "fa-5x user-info-icon" %>
  <div class="small-12 column white-row user-row">
    <h2 class="black-text">About Me</h2>
    <p>
      <%= best_in_place @user, :about, :as => :textarea %>
    </p>
    <h2 class="black-text">My Story</h2>
    <p>
      <%= best_in_place @user, :story, :as => :textarea %>
    </p>
  </div>
</div>

<div class="row">
  <h3 class="tab">Education</h3>
  <%= fa_icon "graduation-cap", class: "fa-5x user-info-icon" %>
  <!-- <h2 class="user-info-heading"></h2> -->
  <div class="column small-12 red-row user-row">
    <% @education.each do |edu| %>
        <div class="row">
          <div class="column small-4">
            <strong>School:</strong>
            <p><%= edu.school %></p>
          </div>
          <div class="column small-4">
            <strong>Major:</strong>
            <p><%= edu.major %></p>
          </div>
          <div class="column small-4">
            <strong>GPA:</strong>
            <p><%= edu.gpa %></p>
          </div>
        </div>
        <div class="row">
          <div class="column small-4">
            <strong>Degree:</strong>
            <p><%= edu.degree %></p>
          </div>
          <div class="column small-4 end">
            <strong>Graduation Date:</strong>
            <p><%= edu.graduation_date %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>
