<div class="row">
  <h3 class="tab">Information</h3>
  <%= fa_icon "user", class: "fa-5x user-info-icon" %>
  <div class="small-12 column white-row user-row">
    <h2 class="black-text">About Me</h2>
    <p>
      <%= best_in_place @user, :about, :as => :textarea %>
    </p>
    <h2 class="black-text">My Story</h2>
    <p>
      <%= best_in_place @user, :story, :as => :textarea %>
    </p>
  </div>
</div>

<div class="row">
  <h3 class="tab">Education</h3>
  <%= fa_icon "graduation-cap", class: "fa-5x user-info-icon" %>
  <!-- <h2 class="user-info-heading"></h2> -->
  <% @education.each do |edu| %>
    <div class="small-12 column red-row user-row">
      <p>
        <%= edu.school %>
      </p>
      <p>
        Major:
        <%= edu.major %>
      </p>
      <p>
        GPA:
        <%= edu.gpa %>
      </p>
      <p>
        Graduation Date:
        <%= edu.graduation_date %>
      </p>
      <p>
        Degree:
        <%= edu.degree %>
      </p>
    </div>
  <% end %>
</div>

<!-- need to make this so that it only shows up when it is viewed by the user -->
</div>
