<div class="row">
  <h3 class="tab">Information</h3>
  <%= fa_icon "user", class: "fa-5x user-info-icon" %>
  <div class="small-12 column white-row user-row">
    <h2 class="black-text">About Me</h2>
    <p>
      <%= best_in_place @user, :about, :as => :textarea %>
    </p>
    <h2 class="black-text">My Story</h2>
    <p>
      <%= best_in_place @user, :story, :as => :textarea %>
    </p>
  </div>
</div>

<div class="row">
  <h3 class="tab">Education</h3>
  <%= fa_icon "graduation-cap", class: "fa-5x user-info-icon" %>
  <!-- <h2 class="user-info-heading"></h2> -->
  <div class="small-12 column red-row user-row">
    <p>
      <%= best_in_place @user, :school %>
    </p>
    <p>
      Major:
      <%= best_in_place @user, :major %>
    </p>
    <p>
      Current Term:
      <%= best_in_place @user, :current_term %>
    </p>
    <p>
      Graduation Date:
      <%= best_in_place @user, :graduation_date %>
    </p>
  </div>
</div>

<!-- need to make this so that it only shows up when it is viewed by the user -->
<div class="row">
  <h3 class="tab">Applications</h3>
  <%= fa_icon "paper-plane", class: "fa-5x user-info-icon" %>
    <% @apps.each do |app| %>
      <div class="row user-application red-row">
        <div class="row column">
          <label class="bold">Position Applied for:</label>
            <p><%= app.job.position %></p>
        </div>

        <div class="row column">
          <label class="bold">When?</label>
            <p><%= app.created_at %></p>
        </div>

        <div class="row column">
          <ul class="menu">
            <li><%= button_to("View Job", job_path(app.job_id), :method => 'get', :class => 'button button-white') %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
