<div id="user-page" class="row" data-equalizer>
  <!-- user picture -->
  <div id="user_picture_box" class="" data-equalizer-watch>
    <div class="picture-info-box">
      <h2 class="user-name"><%= @user.username %></h2>
      <p><%= best_in_place @user, :email %></p>
    </div>
    <%= image_tag(@user.avatar.url, :class => "cover-picture") %>
    <%= form_for(@user) do |user| %>
      <span class="user-picture-edit-field">
        <%= user.file_field(:avatar, :accept => "image/png, image/gif, image/jpeg", :class => "") %>
        <%= user.submit("Change Picture", :class => "button") %>
      </span>
    <% end %>
    <div class="gradient-overlay"></div>
  </div>

  <!-- user resume -->
  <div id="user_resume" class="slider-column-center" data-equalizer-watch>
    <div class="user-container">
      <%= render :partial => "user_resume_edit", :locals => {:user => @user} %>
    </div>
  </div>

  <!-- user information -->
  <div id="user_information" class="slider-column-right" data-equalizer-watch>
    <div class="user-container">
      <!-- <h3 class="tab tab-below">Education</h3>
      <h3 class="tab tab-below">Application History</h3> -->
      <%= render :partial => "user_info_edit", :locals => {:user => @user} %>
    </div>
  </div>
</div>
