<% if !@user.errors.empty? %>
  <div class="alert callout" data-closable>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="column small-12 red-row box-shadow text-center">
    <%= fa_icon "user-circle", :class => "fa-5x" %>
    <h2 class="subheader text-center mainheader">Create New User</h2>
  </div>
</div>

<div class="row orange-row">
  <div class="column small-8 small-offset-2">
    <%= form_for(@user, html: { :name => "userFormElem", :id => "userFormElem", multipart: true}) do |user| %>
      <%= render(:partial => 'form', :locals => {:user => user}) %>
      <%= user.submit("Submit", :class => "button button_dropshadow") %>
    <% end %>
  </div>
</div>
