<div class="row">
  <h2 class="subheader mainheader">User <%= @user.username %> Parameters</h2>
  <div class="column small-8">
    <table summary="User table" class="hover stack">
      <thead>
        <tr>
          <th>Title</th>
          <th>Attribute</th>
        <tr>
      </thead>
      <tbody>
        <tr>
          <td>First Name</td>
          <td><%= @user.first_name %></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><%= @user.last_name %></td>
        </tr>
        <tr>
          <td>Admin?</td>
          <td><%= @user.admin ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
          <td>Username</td>
          <td><%= @user.username %></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><%= @user.password %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>About</td>
          <td><%= @user.about %></td>
        </tr>
        <tr>
          <td>Story</td>
          <td><%= @user.story %></td>
        </tr>
        <tr>
          <td>School</td>
          <td><%= @user.school %></td>
        </tr>
        <tr>
          <td>Major</td>
          <td><%= @user.major %></td>
        </tr>
        <tr>
          <td>Current Term</td>
          <td><%= @user.current_term %></td>
        </tr>
        <tr>
          <td>Graduation Date</td>
          <td><%= @user.graduation_date %></td>
        </tr>
        <tr>
          <td>Profile Created</td>
          <td><%= @user.created_at %></td>
        </tr>
        <tr>
          <td>Last Update</td>
          <td><%= @user.updated_at %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="column small-4">
    <div class="row sidebar">
      <h4 class="subheader">Recent Applications</h4>
      <div class="column small-12">
        <% @apps.each do |app| %>
          <div class="row job">
            <div class="column small-8">
              <label class="bold">Position Applied for:</label>
                <p><%= app.job.position %></p>

            </div>

            <div class="column small-4">
              <label class="bold">When?</label>
                <p><%= app.created_at %></p>

            </div>
            <div class="column small-12">
              <ul class="menu">
                <li><%= button_to("View Job", job_path(app.job_id), :method => 'get', :class => 'button button_dropshadow') %></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
