<div id="user-page" class="row" data-equalizer>
  <!-- user picture -->
  <div id="user_picture_box" class="" data-equalizer-watch>
    <div class="picture-info-box">
      <h2 class="user-name"><%= @user.username %></h2>
      <p><%= @user.email %></p>
    </div>
    <%= image_tag(@user.avatar.url, :class => "cover-picture") %>
    <div class="gradient-overlay"></div>
  </div>

  <!-- user resume -->
  <div id="user_resume" class="slider-column-center" data-equalizer-watch>
    <div class="user-container">
      <h3 class="tab">Resume</h3>
    </div>
  </div>

  <!-- user information -->
  <div id="user_information" class="slider-column-right" data-equalizer-watch>
    <div class="user-container">
      <h3 class="tab">Information</h3>
      <%= render :partial => "user_info", :locals => {:user => @user} %>
    </div>
  </div>

</div>

<div id="real_resume">
  <%= render :partial => "user_resume", :locals => {:apps => @apps} %>
</div>
