<div class="row">
  <h2 class="subheader">Employer List</h2>
  <% @employers.each do |employer| %>
    <table summary="Employer list table" class="hover">
      <thead>
        <tr>
          <th width="200">Company Name</th>
          <th colspan="3" class="textCenter">Actions</th>
        <tr>
      </thead>
      <tbody>
        <tr>
          <td><%= employer.company_name %></td>
          <td class="textCenter"><%= button_to("Show Employer", employer_path(employer), :method => "get", :class => "button") %></td>
          <td class="textCenter"><%= button_to('Edit Employer', edit_employer_path(employer), :method => 'get', :class => 'button') %></td>
          <td class="textCenter"><%= button_to('Delete Employer', delete_employer_path(employer), :method => 'get', :class => 'alert button') %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <br />
  <%= button_to("Create Employer", new_employer_path, :method => "get", :class => "button") %>
</div>
