<div class="row">
  <div class="columns small-12 employer-image-header">
    <!-- This will be a header image for the employer -->
    <%= image_tag(@employer.header, :class => "cover-picture", :alt => "") %>
    <div class="gradient-overlay"></div>
  </div>
  <div class="picture-info-box">
    <%= image_tag(@employer.logo, :alt => "logo", :class => "employee-logo") %>
    <h1 class="mainheader"><%= @employer.company_name %></h1>
    <ul>
      <li><%= link_to(@employer.contact_email) %></li>
      <li><%= link_to(@employer.website) %></li>
      <li><%= @employer.contact_phone %></li>
    </ul>
  </div>
</div>

<div class="row employer-profile">
  <!-- <h2 class="subheader mainheader">Employer <%= @employer.company_name %> Parameters</h2> -->
  <div class="columns large-4 small-12 orange-row">
        <%= button_to("Edit Profile", edit_employer_path(@employer), :method => "get", :class => "button button-margin button-red") %>

      <h3>About Us</h3>
      <%= @employer.about %>
      <ul class="employer-general-information">
        <li>
          <p>Industry: <%= @employer.industry %></p>
        </li>
        <li>
          <p>Founded: <%= @employer.founded %></p>
        </li>
        <li>
          <p>Company Size:<%= @employer.size %></p>
        </li>
        <li>
          <p>Address: <%= @employer.hq_address %>, <%= @number %><br />
          <%= @employer.hq_city %>, <%= @employer.hq_state %><br />
          </p>
        </li>
        <li>
          <%= @employer.facebook %>
          <%= @employer.twitter %>
          <%= @employer.google %>
          <%= @employer.youtube %>
          <%= @employer.linkedin %>
          <%= @employer.instagram %>
        </li>
      </ul>
  </div>
  <div class="columns large-8 small-12 red-row">
    <h3 class="subheader">Active Job Listings</h3>
    <% @jobs.each do |job| %>
      <div class="row column" style="text-align: center;">
        <div class="row employer-job-row white-row">
            <div class="column small-12">
                <p><%= job.position %></p>
            </div>

            <div class="column small-12">
                <p><%= job.description %></p>
            </div>
            <ul class="menu">
              <li>
                <%= button_to("Apply", new_job_user_application_path(job), :method => 'get', :class=>"button button-red-large") %>
              </li>
              <li>
                <%= button_to("Details", job_path(job), :method => 'get', :class=>"button button_spacing") %>
              </li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
