<!-- Nav bar -->
  <!-- button class="button small button_spacing button_dropshadow" -->
  <ul class="menu vertical">
    <li><%= link_to('Home', '/', :class=>"") %></li>
    <li><%= link_to('Jobs', jobs_path, :class=>"") %></li>
    <li><%= link_to('Profile', users_path, :class=>"") %></li>
    <li>
      <% if session[:user_id] || session[:employer_id] %>
        <%= link_to('Logout', access_logout_path, :class=>"") %>
      <% else %>
        <%= link_to('Login', access_login_path, :class=>"") %>
      <% end %>
    </li>
  </ul>
