<!DOCTYPE html>
<html>
  <head>
    <title>hireMe Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Admin Controls</li>
          <li><%= link_to('Users', users_path) %></li>
          <li><%= link_to('Employers', employers_path) %></li>
          <li><%= link_to('Jobs', jobs_path) %></li>
        </ul>
      </div>
    </div>
    <div class="row column">

      <% if !flash[:notice].blank? %>
        <div class="success callout" data-closable>
          <%= flash[:notice] %>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
